.light {
  position: absolute;
  bottom: 1rem;
  right: 2rem;

  &__icon {
    color: var(--primary);
    font-size: 2rem;
    cursor: pointer;
    transition: all .2s ease;

    &:hover {
      font-size: 3rem;
      color: var(--accent);
    }
  }
}
