@import "~src/variables";
@import "~src/brakepoints";

.topics {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 7vw 7vw 7vw 10vw;
  background: var(--theme-background);

  &__block {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all .5s ease;

    @include media-breakpoint-down(md) {
      width: 25%;
    }

    @include media-breakpoint-down(sm) {
      width: 50%;
    }

    &:hover {
      transform: scale(1.2,1.2);
    }
  }

  &__icon {
    width: 100px;
  }

  &__descr {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: $primary;
    padding: 5px;
    text-align: center;
  }
}
