<section class="test-list">
  <h2 class="test-list__title">
    Переклік тестів
  </h2>
  <div class="test-list__list">
      <div class="test-list__header">
        <div class="test-list__point">
            Компанія
        </div>
        <div class="test-list__point">
            Напрям
        </div>
        <div class="test-list__point">
          Рівень
        </div>
      </div>
      <div class="test-list__item" *ngFor="let item of tests">
        <div class="test-list__point">
          {{item.creator}}
        </div>
        <div class="test-list__point">
          {{item.topic}}
        </div>
        <div class="test-list__point">
          {{item.level}}
        </div>
        <div class="test-list__point">
          <button class="test-list__button">
              Почати
          </button>
        </div>
      </div>

  </div>
</section>
