$white: #fff;
$black: #000;
//$primary: #4A148C;
//$secondary: #8C1488;
$accent: #fff800;
$third: #519bc9;
$primary: #744fc4;
$secondary: #ad51c9;




$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
